<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div style="background-color:#edeff2;width:100%;min-height:400px;color: #32414A;">
  <div style="width:600px;font-family: helvetica neue;padding: 20px;margin: 0 auto;min-height: 400px;background-color:#fff">
    <div style=" text-align: center; padding-top: 40px; ">
      <img src="http://54.252.166.189/wp-content/uploads/2013/06/quaypay_logo_blue-300x61.png" style=" ">
    </div>
    <br>
    <h2 style=" font-size: 17pt; ">Welcome to QuayPay, <%= @user.name.split(" ").first %>!</h2>
    <p>
      You've opened a gateway to faster and easier online payments. You can now:
    </p>
    <ul>
      <li style=" margin-bottom: 5px; ">Log in with social media providers to make purchases with the click of a button </li>
      <li style=" margin-bottom: 5px; ">Save your payment information to make purchases on-the-go </li>
      <li style=" margin-bottom: 5px; ">Track your spending habits through the dashboard</li>
    </ul>
    <p>
     Be sure to check out our <a href="http://quaypay.com/blog">Blog</a>, <a href="http://facebook.com/quaypay">Facebook</a> and <a href="http://twitter.com/quaypay">Twitter</a> pages for the latest updates and information.
    </p><p>
     If you have any questions or comments, feel free to contact us at feedback@quaypay.com to let us know.
    </p>
    <p>
      Regards,<br>
       The QuayPay Team
    </p>
   
  </div>
</div>
</body>
</html>

